html{
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body{
    margin:0;
}

.swagger-ui .topbar {
    background-color: #C38FA3;
}

.swagger-ui .topbar-wrapper:before {
    content: "Testainers";
    padding-left: 60px;
    font-weight: normal;
    font-size: 3.0em;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
}

.swagger-ui .topbar-wrapper svg {
    display: none;
}

.swagger-ui .topbar .download-url-wrapper {
    display: none;
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
    background: #4caf08;
}

.swagger-ui .opblock.opblock-post .opblock-summary-method {
    background: #0d5aa7;
}

.swagger-ui .opblock.opblock-put .opblock-summary-method {
    background: #fca130;
}

.swagger-ui .opblock.opblock-patch .opblock-summary-method {
    background: #9012fe;
}

.swagger-ui .opblock.opblock-delete .opblock-summary-method {
    background: #f93e3e;
}

#footer {
    background-color: #C38FA3;
    color: #0E1216;
    text-align: center;
}