name: CI Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: Get release attributes
        run: |
          echo "TAGS=latest" >> $GITHUB_ENV
          SUFFIX=""
          VERSION=$(grep 'version =' build.gradle.kts | cut -f 2 -d '"')$SUFFIX
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          REPO=$(echo $GITHUB_REPOSITORY | cut -f 2 -d "/")
          echo "REPO=$REPO" >> $GITHUB_ENV
          echo "OWNER=$GITHUB_REPOSITORY_OWNER" >> $GITHUB_ENV

      - name: Check if version is used
        run: |
          URL=$GITHUB_API_URL/repos/$GITHUB_REPOSITORY/releases/tags/${{ env.VERSION }}
          echo "$URL"
          CODE=$(curl -s -H "Authorization: Bearer ${{ github.token }}" -o /dev/null -w "%{http_code}" "$URL")
          if [ "$CODE" != 404 ]; then
            echo "Release '$VERSION' already exists. ($CODE)"
            exit 1
          fi

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Generating self-signed certificate
        run: |
          openssl req \
            -newkey rsa:2048 \
            -new \
            -nodes \
            -x509 \
            -days 3650 \
            -keyout key.pem \
            -out cert.pem \
            -subj "/C=US/ST=SC/L=Hometown/O=IT/emailAddress=root@localhost/CN=localhost"

      - name: Test & Build
        run: |
          ./gradlew build --no-daemon \
            -Dquarkus.package.type=native \
            -Dquarkus.native.container-build=true \
            -Dquarkus.container-image.build=true \
            -Dquarkus.container-image.push=true \
            -Dquarkus.container-image.username=${{ env.OWNER }} \
            -Dquarkus.container-image.password=${{ secrets.DOCKER_TOKEN }} \
            -Dquarkus.container-image.group=${{ env.OWNER }} \
            -Dquarkus.container-image.name=${{ env.REPO }} \
            -Dquarkus.container-image.tag=${{ env.VERSION }} \
            -Dquarkus.container-image.additional-tags=${{ env.TAGS }}

      - name: Creating GitHub Tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          custom_tag: ${{ env.VERSION }}
          tag_prefix: ''
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Overwrite Coverage Theme
        run: |
          /bin/cp -rf helpers/jacoco-report/* build/jacoco-report/.
          /bin/cp -f README.md build/jacoco-report/.

      - name: Publishing to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: ./build/jacoco-report
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: httpbucket.testainers.com
