name: Pull Request Tests

on: [pull_request]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Code Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Generating self-signed certificate
        run: |
          openssl req \
            -newkey rsa:2048 \
            -new \
            -nodes \
            -x509 \
            -days 2 \
            -keyout key.pem \
            -out cert.pem \
            -subj "/CN=localhost"

      - name: Tests
        run: ./gradlew test
